.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  border-color: var(--text-color);
  color: var(--text-color);
}

.button-wrapper:hover {
  background-color: var(--panel-background-color);
}

.button-wrapper:active {
  background-color: var(--background-color);
}
